#map {
    height: 120vh;
}

.mapboxgl-ctrl-top-right,
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
    display: none;
}

.scrollable-list {
    max-height: 500px;
    overflow-y: auto;
}

.list-group::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari 和 Opera */
}

.list-group {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.mapboxgl-popup-content {
    color: black;
}